/**
* CSS Demo Stylesheet
* author: jordanv215
**/

/**
* Body Layout
**/
.container {
	width: 960px;
	margin: 0 auto;
}

body {
	margin: 0;
}

/**
* Header
**/
header {
	background-color: firebrick;
}

/**
* Main
**/
.width-50 {
	width: 50%;
	float: left;

}

h1 {
	background-color: lightsalmon;
	border: 5px solid black;
	margin: 25px 0;
	padding: 20px;
}